In [19]:
# importing all the required python libraries & packages
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

from datetime import date, datetime

from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import sklearn
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [20]:
import warnings
warnings.filterwarnings("ignore")

In [21]:
# Importing & reading the main dataset
df = pd.read_csv('Data/curated_data.csv')
df.head()

,Date,data1,data2,data3,Website units sold,FB_Ad _spend,FB_Impressions,FB_Unique Clicks,Day,Month,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Amazon Page Views,Amazon Sessions,Amazon Units Sold
0,5/3/22,NaN,NaN,NaN,13.0,540.45,38915,208,3.0,5.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,487,365,52.0
1,5/4/22,NaN,NaN,NaN,16.0,548.41,42258,192,4.0,5.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,439,308,50.0
2,5/5/22,NaN,NaN,NaN,7.0,285.47,21238,96,5.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,357,277,38.0
3,5/6/22,NaN,NaN,NaN,0.0,0,0,0,6.0,5.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,370,264,27.0
4,5/7/22,NaN,NaN,NaN,1.0,56.12,4253,9,7.0,5.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,306,231,32.0

In [22]:
df.shape

(855, 23)

We can notice that we have blank columns and checked for duplicates

In [23]:
df = df.drop(columns=['data1','data2','data3'])

In [24]:
df.drop_duplicates(keep=False)

,Date,Website units sold,FB_Ad _spend,FB_Impressions,FB_Unique Clicks,Day,Month,Year,day of the week,quarter,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Amazon Page Views,Amazon Sessions,Amazon Units Sold
0,5/3/22,13.0,540.45,38915,208,3.0,5.0,2022.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,487,365,52.0
1,5/4/22,16.0,548.41,42258,192,4.0,5.0,2022.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,439,308,50.0
2,5/5/22,7.0,285.47,21238,96,5.0,5.0,2022.0,4.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,357,277,38.0
3,5/6/22,0.0,0,0,0,6.0,5.0,2022.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,370,264,27.0
4,5/7/22,1.0,56.12,4253,9,7.0,5.0,2022.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,306,231,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2/10/23,107.0,2464.18,163244,1011,10.0,2.0,2023.0,5.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,156.0
284,2/11/23,98.0,2381.72,140133,1036,11.0,2.0,2023.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,964,733,123.0
285,2/12/23,84.0,1809.46,91056,706,12.0,2.0,2023.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,911,674,117.0
286,2/13/23,66.0,1622.82,101713,697,13.0,2.0,2023.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,934,710,137.0
287,2/14/23,73.0,1570.97,118422,797,14.0,2.0,2023.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0

In [25]:
df = df.fillna(0)
df.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       Date  Website units sold  FB_Ad _spend  FB_Impressions  \
0    False               False         False           False
1    False               False         False           False
2    False               False         False           False
3    False               False         False           False
4    False               False         False           False
..     ...                 ...           ...             ...
850  False               False         False           False
851  False               False         False           False
852  False               False         False           False
853  False               False         False           False
854  False               False         False           False

     FB_Unique Clicks    Day  Month   Year  day of the week  quarter  Monday  \
0               False  False  False  False            False    False   False
1               False  False  False  False            False    False   False
2               False  False  False  False            False    False   False
3               False  False  False  False            False    False   False
4               False  False  False  False            False    False   False
..                ...    ...    ...    ...              ...      ...     ...
850             False  False  False  False            False    False   False
851             False  False  False  False            False    False   False
852             False  False  False  False            False    False   False
853             False  False  False  False            False    False   False
854             False  False  False  False            False    False   False

     Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday  \
0      False      False     False   False     False   False
1      False      False     False   False     False   False
2      False      False     False   False     False   False
3      False      False     False   False     False   False
4      False      False     False   False     False   False
..       ...        ...       ...     ...       ...     ...
850    False      False     False   False     False   False
851    False      False     False   False     False   False
852    False      False     False   False     False   False
853    False      False     False   False     False   False
854    False      False     False   False     False   False

     Amazon Page Views  Amazon Sessions  Amazon Units Sold
0                False            False              False
1                False            False              False
2                False            False              False
3                False            False              False
4                False            False              False
..                 ...              ...                ...
850              False            False              False
851              False            False              False
852              False            False              False
853              False            False              False
854              False            False              False

[855 rows x 20 columns]>

The data looks clean.